body {font-family: Helvetica,Arial,sans-sarif;
}
#container {
background-color: white;
width:1400px;
margin-left:auto;
margin-right:auto;
}
#header {
background-color: #4169E1;
color: white;
text-align: center;
}







 